@charset "UTF-8";
/*
EM HTML É id = em CSS é # (só pode um elemento)
Em HTML é class = em CSS é . (Posso varios elementos)
*/
body{
    background-color: #59c36d ;
    font-family: Arial, Helvetica, sans-serif;
}

H1{
    color:  #035524;
}

h1#principal {
    text-align: center;
    background-color: #035524;
    color: white;
}

h2{
    color: #026873;
}
.basico{
    color: brown;
}
.intermediario{
    color: blue;
}
.avancado{
    color: coral;
}
.destaque{
    background-color: chocolate;
}